

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# gradle
!gradle/wrapper/gradle-wrapper.jar
**/.gradle
**/.build
**/build/
**/out